{% extends 'base.html.twig' %}
    {% block title %}
        Omedup- Actualit&eacute;s
    {% endblock %}

{% block body %}
    {% include './Components/section1.html.twig' %}
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-md-8 text-content">
                <div class="title">
                    <h4 class="section-title">Actualit&eacute;s</h4>
                </div>
                <div class="row">
                    {% for actualite in items %}
                        <div class="col-md-4">
                            <div class="card-news">
                                <img src="{{ vich_uploader_asset( actualite, 'imageFile')}}" alt="image"
                                     class="img-fluid text-center">
                                <div class="content pt-3">
                                    <small>{{ actualite.resume|raw }}
                                        <a href="{{ path('news_show', {'slug': actualite.slug}) }}">Lire la suite</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="last-news">Last News</h4>
                <div class="col-md-12">
                    <hr>
                    {% for leftNews in items %}
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ vich_uploader_asset(leftNews, 'imageFile') }}" alt="" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <small>{{ leftNews.resume|raw }}</small>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
