<nav class="navbar navbar-expand-sm navbar-dark sticky-top shadow">
    <a class="navbar-brand" href="{{ path('home')}}"><img src="{{ asset('images/logo/logo-transparent.png') }}" alt="Logo"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}"> <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_home') }}">Actualit&eacute;s</a>
            </li>
        </ul>
        <ul class="navbar-nav profil-nav">
            {% if app.user %}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-prescription"> Prescriptions</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-envelope"> Messages</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-stethoscope"> Medecins</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-comment-medical"> Recommendations</i>
                    </a>
                </li>

            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">D&eacute;connexion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Cr&eacute;er un compte</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>